<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">

  <Properties>
    <!-- 本地开发时这个路径替换成自己的本地路径 -->
    <Property name="layout">%d %p [%t] %c{10}:%M:%L %m%n</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${layout}" />
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="org.apache.zookeeper" level="debug"></Logger>
    <Root level="info">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>